body {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100vh;
}

main>section.content {
	flex: 1
}

.poke-card {
	box-shadow: 1px 2px #cbc1c1;
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
	min-height: 120px;
}

.img-poke {
	object-fit: contain;
}

.matched {
	background: yellow;
}

.unmatched {
	background: red;
}

