<div class="card" style="width: 18rem;">
    <h5 class="card-title"><%- product.name %></h5>
    <a href="/products/<%- product.id %>"><img src="/image/<%- product.image %>" class="card-img-top" width="280px" height="350px"></a>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <h5 class="card-title">$<%- product.price %></h5>
      <a href="#" class="btn btn-primary">Add to Card</a>
    </div>
  </div>

