<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head.ejs') %>
		<title>Game board</title>
		<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

	<main class="flex-vertical ">
		<header class="text-center text-white py-3">
			<h1>
				Welcome to Pokémon game. Relax with game
			</h1>
		</header>
		<section id='app' class="content container">
			<div class="row flex-wrap justify-content-between align-items-center" id="board">
				<!-- render poke -->
			</div>

			<hr />
			<button id="reset" type="button" class="btn btn-primary text-capitaline">reset game</button>

			<button id="cancel" type="button" class="btn btn-danger">cancel game</button>

		</section>

		<%- include('partials/footer.ejs') %>

			<script src="assets/main.bundle.js"></script>
			<script src="assets/vendors~main.chunk.js"></script>

	</main>
	<%- include('partials/bootstrap.ejs') %>

		<!-- <script>

			const randomColor = Math.floor(Math.random() * 16777215).toString(16);

			const listPoke = document.getElementById('listPoke');

			const _data = [1, 2, 3, 4, 5, 6, 3, 4, 5, 6]

			const html = _data.map(e => {
				return `
					<div class="col-2 poke-card mx-1 my-3"> </div>
					`
			}).join('')

			listPoke.innerHTML = html;
		</script> -->
</body>

</html>