<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Poly book store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Tất cả</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cate/1">Develope</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cate/2">Marketing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cate/3">Design</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cate/4">Business</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>